#editorBorderPane {
    -fx-background-color: #e3a1ff;
}

#editorTabPane, #caretPositionLabel {
    -fx-background-color: transparent;
}

#bottomHBox {
    -fx-background-color: #e3a1ff;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: white;
}

#caretPositionLabel {
    -fx-text-fill: black;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: white;
}

#editorMenuStackPane {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
}

#editorMenuBar {
    -fx-background-color: #E3A1FF;
}

#moreMenuButton {
    -fx-background-color: #e3a1ff;
    -fx-border-width: 2px;
    -fx-border-color: #cbdae7;
    -fx-text-fill: linear-gradient(from 0% 0% to 17% 100% , #96C0FF , #ffb4a1);
}

#moreMenuButton .label {
    -fx-text-fill: white;
    -fx-font-family: "Noto Sans JP Bold";
    -fx-font-size: 13px;
}

/* *****************************************************************************
*                       Menus and Menu Items                                   *
****************************************************************************** */

#fileMenu .label {
    -fx-text-alignment: "left";
    -fx-text-fill: white;
    -fx-font-family: "Noto Sans JP Bold";
    -fx-font-size: 13px;
}

#fileMenu:hover {
    -fx-background-color: white;
    -fx-border-width: 0 0 1.5 0;
    -fx-border-color: grey;
}

#fileMenu:hover .label {
    -fx-text-fill: #e3a1ff;
}

#fileMenu .menu-item {
    -fx-background-color: #e3a1ff;
}

#fileMenu .menu-item:hover {
    -fx-background-color: white;
}

#fileMenu:selected {
    -fx-background-color: white
}

#fileMenu:selected .label {
    -fx-text-fill: #e3a1ff
}

#fileMenu .menu-item .label {
    -fx-text-fill: white;
}

#fileMenu .menu-item:hover .label {
    -fx-text-fill: #e3a1ff;
}

/* *****************************************************************************
*                       Tab Pane and Tabs                                      *
*                Credit to Vipul from StackOverflow for some of the work       *
* https://stackoverflow.com/questions/19788661/change-javafx-tab-default-look  *
****************************************************************************** */
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:90px;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
}

.tab .tab-close-button {
    -fx-background-color: black;
}

.tab .tab-close-button:hover {
    -fx-background-color: grey;
}

.tab {
    -fx-background-color: #e3a1ff;
    -fx-background-insets: 0 0 0 0,0,0;
    -fx-border-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: white;
    -fx-border-color: white;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Noto Sans JP Bold";
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #e3a1ff;
}