#newFileDialogPane {
    -fx-background-color: linear-gradient(from 0% 0% to 17% 100% , #96C0FF , #ffb4a1);
}

#fileNameTextField, #fileTypeChooser, #filePathTextField {
    -fx-border-color: white;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-color: white;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(from 0% 0% to 17% 100% , #96C0FF , #ffb4a1);
}